@font-face {
    font-family: 'Cafe24Decobox';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F8E8EE;
}

.header1 {
    text-align: center;
    color: #FF8DC7;
    font-size: 70px;
    font-family: 'Cafe24Decobox';
    position: relative;
    top: 10px;
}

.header1-1 {
    text-align: center;
    color: #FBA1B7;
    font-size: 20px;
    font-family: 'Cafe24Decobox';
    margin: 0;
    position: relative;
    top: -22px;
    left: 0px;
}

.d-flex{
    margin: 10px;
    width: 400px;
    height: 40px;
    position: relative;
    top: -115px;
    left: 1000px;
}

.header2{
    font-size: large;
    width: 100px;
    margin: 10px;
    position: relative;
    top: -5px;
    left: 20px;
}

.header2:hover{
    color: #6420AA;
} 

.navbar{
    position: relative;
    top: -50px;
}

.navbar-brand{
    margin: 0 10px;
    position: relative;
    left: 325px;
}

ul{
    position: relative;
    left: 325px;
}

li{
    margin: 0 10px;
}

