@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YClover-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: white;
}

.header1 {
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: 'TTHakgyoansimMulgyeolB';
    position: relative;
    top: 10px;
}

.header1-1 {
    text-align: center;
    color: #1f1e1e;
    font-size: 20px;
    font-family: 'KimjungchulMyungjo-Bold';
    margin: 0;
    position: relative;
    top: -15px;
    left: 3px;
}

.d-flex{
    margin: 10px;
    width: 300px;
    height: 30px;
    position: relative;
    top: -135px;
    left: 1090px;
}

.bi{
    position: relative;
    top: -5px;
}

.header2{
    font-size: small;
    width: 100px;
    margin: 10px;
    position: relative;
    top: -5px;
    left: 20px;
}

.header2:hover{
    color: #757178;
} 

.custom-btn {
    padding: 0.25rem 0.5rem; /* 패딩을 줄여 버튼을 줄임 */
    width: auto; /* 버튼 너비를 자동 조정 */
}

.custom-btn svg{
    position: relative;
    top: -3px;
}

.navbar{
    position: relative;
    top: -45px;
}

.navbar-brand{
    margin: 0 10px;
    position: relative;
    left: 450px;
}

ul{
    font-family: 'YClover-Bold';
    position: relative;
    left: 450px;
}

li{
    font-family: 'TTHakgyoansimMulgyeolB';
    margin: 0 10px;
}

img {
    width: 1600PX;
    height: 400px;                                                        
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #717171;
  }
  .carousel-indicators .active {
    background-color: #ffffff;
  }