@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.login-wrapper {
    width: 500px; /* 너비를 크게 조정 */
    height: 500px; /* 높이를 크게 조정 */
    padding: 40px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
    .login-wrapper{
        width: 300px; /* 너비를 크게 조정 */
        height: 300px; /* 높이를 크게 조정 */
        padding: 0px;
        box-sizing: border-box;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.login-wrapper > h2{
    font-size: 24px;
    font-family: 'Freesentation-9Black';
    color: black;
    margin-bottom: 20px;
}
#login-form > input{    /* 로그인 폼의 입력 필드에 대한 스타일을 설정 */
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{   /* 입력 필드의 placeholder 텍스트에 대한 스타일을 설정 */
    color: #2f2f2f84;
}
#login-form > input[type="submit"]{     /* 로그인 버튼에 대한 스타일을 설정 */
    color: #fff;
    font-family: 'Freesentation-9Black';
    font-size: 16px;
    background-color: rgb(41, 41, 41);
    margin-top: 20px;
}
#login-form > input[type="checkbox"]{   /* 체크박스를 숨기는 스타일을 설정 */
    display: none;  /* 체크박스를 화면에서 숨깁 */
}
#login-form > label{    /* 체크박스 레이블의 스타일을 설정 */
    color: #999999;
}
#login-form input[type="checkbox"] + label{     /* 체크박스가 선택되지 않았을 때의 레이블 스타일을 설정 */
    cursor: pointer;    /* 마우스 커서를 포인터로 변경 */
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain; 
}
#login-form input[type="checkbox"]:checked + label{ /* 체크박스가 선택되었을 때의 레이블 스타일을 설정 */
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.sign-text{
    display: flex;
    justify-content: center;
}

.sign-text:hover{
    color: #757178;      /*회원가입 텍스트에 마우스를 올렸을 때 색상을 변경*/
} 

a {
    text-decoration: none; /* 링크에 밑줄 제거 */
    color: black;
}