@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header1 {
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: 'TTHakgyoansimMulgyeolB';
}

@media (max-width: 500px) {
    .header1 {
        font-size: 40px; /* 스마트폰 크기일 때 글자 크기 줄이기 */
    }
}

.container-fluid{
    background-color: rgb(237, 237, 237);
    height: 50px;
}

.navbar{
    margin-bottom: 40px; 
}

.navbar-brand{
    font-family: 'Freesentation-9Black';
    padding-left: 250px;
    margin-right: 50px;
}

.navbar-toggler-icon {
    width: 1.5rem; /* 정사각형 크기로 조정 */
    height: 1.5rem; /* 정사각형 크기로 조정 */
}

.navbar-toggler {
    padding: 0.3rem; /* 아이콘과 버튼 사이에 여백 추가 */
}

.collapse{
    font-size: 18px;
    font-family: 'GmarketSansMedium';
}

li{
    margin-right: 50px;
    white-space: nowrap; /* 텍스트가 한 줄에 보이도록 함 */
}

.sign-text{
    font-size: small; 
    width: 100px;
    position: relative;
    top: 5px;
    left: -3px;
}

.login-text{
    font-size: small; 
    width: 100px;
    position: relative;
    top: 5px;
    left: 4px;
}

.login-text:hover{
    color: #757178;      /*로그인 텍스트에 마우스를 올렸을 때 색상을 변경*/
} 

.sign-text:hover{
    color: #757178;      /*회원가입 텍스트에 마우스를 올렸을 때 색상을 변경*/
} 

a {
    text-decoration: none; /* 링크에 밑줄 제거 */
    color: black;
}

@media (max-width: 509px) {
    .navbar-brand{
        padding-left: 10px;
    }
    .navbar-toggler {
        position: absolute;
        top: 15px;
        left: 117px;
    }
    .login{
        display: none !important;
    }
}

@media (min-width: 510px) and (max-width: 991px) {
    .navbar-brand{
        padding-left: 10px;
    }
    .navbar-toggler {
       position: absolute;
       top: 15px;
       left: 117px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .navbar-brand{
        padding-left: 10px;
    }
}

.custom-btn {
    padding: 0.25rem 0.5rem; /* 패딩을 줄여 버튼을 줄임 */
    width: auto; /* 버튼 너비를 자동 조정 */
}

.custom-btn svg{
    position: relative;
    top: -3px;
}

.profile-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.profile-header h2 {
    margin: 0;
    font-family: 'Freesentation-9Black';
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin: 10px 0;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.edit-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #939393;
}

.edit-form {
    display: none; /* 기본적으로 폼을 숨김 */
    flex-direction: column;
    gap: 10px;
    align-items: center; /* 수평 중앙 정렬 */
}

.edit-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.edit-form input[type="file"] {
    border: none;
    width: 100%;
}

.save-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.save-button:hover {
    background-color: #939393;
}

.footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.one, .two, .three{
    width: 20px;
    height: 20px;
}