@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
}

.header1 {
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: 'TTHakgyoansimMulgyeolB';
}

@media (max-width: 500px) {
    .header1 {
        font-size: 40px; /* 스마트폰 크기일 때 글자 크기 줄이기 */
    }
}

.navbar{
    margin-bottom: 40px; 
}

.navbar-brand{
    font-family: 'Freesentation-9Black';
    padding-left: 250px;
    margin-right: 50px;
}

.navbar-toggler-icon {
    width: 1.5rem; /* 정사각형 크기로 조정 */
    height: 1.5rem; /* 정사각형 크기로 조정 */
}

.navbar-toggler {
    padding: 0.3rem; /* 아이콘과 버튼 사이에 여백 추가 */
}

.collapse{
    font-size: 18px;
    font-family: 'GmarketSansMedium';
}

li{
    margin-right: 50px;
    white-space: nowrap; /* 텍스트가 한 줄에 보이도록 함 */
}

.login{                                                                                                                          
    width: 350px;
    height: 30px;
    position: relative;
    top: -2px;
}

.login-text{
    font-size: small; 
    width: 100px;
    position: relative;
    top: 5px;
    left: 13px;
}

.login-text:hover{
    color: #757178;      /*로그인 텍스트에 마우스를 올렸을 때 색상을 변경*/
} 

a {
    text-decoration: none; /* 링크에 밑줄 제거 */
    color: black;
}

.custom-btn {
    padding: 0.25rem 0.5rem; /* 패딩을 줄여 버튼을 줄임 */
    width: auto; /* 버튼 너비를 자동 조정 */
}

.custom-btn svg{
    position: relative;
    top: -3px;
}

@media (max-width: 557px) {
    .navbar-brand{
    }
    .navbar-toggler {
        position: absolute;
        top: 10px;
        left: 117px;
    }
    .login{
        display: none !important;
    }
}

@media (min-width: 558px) and (max-width: 991px) {
    .navbar-brand{
        padding-left: 10px;
    }
    .navbar-toggler {
        position: absolute;
        top: 10px;
        left: 117px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .navbar-brand{
        padding-left: 10px;
    }
}                                

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.product-image {
    position: relative;
    top: 25px;
    flex: 1 1 250px;
    text-align: center;
}

.product-image img {
    height: auto; /* 이미지 비율 유지 */
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.product-image img:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-details {
    flex: 2 1 300px;
    padding: 20px;
    text-align: left;
}

.product-details h2 {
    font-family: 'KCC-Hanbit';
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold; 
}

.price {
    font-family: 'KCC-Hanbit';
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.description {
    font-family: 'GmarketSansMedium';
    margin-bottom: 20px;
    color: #555;
}

#emphasis{
    font-family: 'GmarketSansMedium';
    font-weight: bold; 
}

select{
    margin-right: 10px;
    margin-bottom: 20px;
}

.credit {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 500px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.credit:hover {
    background: #444;
}


@media (max-width: 475px) {
    .product {
        flex-direction: column;
    }

    .product-image {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start; /* 왼쪽 정렬 */
        align-items: center; /* 수직 정렬 */
    }
    
    .credit{
        width: 100px;
    }
}

@media (min-width: 476px) and (max-width: 876px){
    .product {
        flex-direction: column;
    }

    .product-image {
        flex: 1 1 auto;
        display: flex;
        justify-content: center; /* 왼쪽 정렬 */
        align-items: center; /* 수직 정렬 */
    }

    .product-details {
        text-align: center; /* 모든 내용을 가운데 정렬 */
        max-width: 600px; /* 내용의 최대 너비 지정 */
        margin: 0 auto; /* 좌우 중앙 정렬 */
        padding: 20px;
    }

    .credit{
        width: 100px;
    }
}
  
/* footer */
.footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
    top: 15px;
}

.footer a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.one, .two, .three{
    width: 20px;
    height: 20px;
}
